extends layout

block content
  h1= title
  each tea in teas
    div
      h2
        a(href=tea.url) #{tea.name}
      p
        strong Price: 
        | #{tea.price}$/100g
      p 
        if tea.quantity
          strong Quantity: 
          | #{tea.quantity}g
        else
          | Out of Stock
  else
    p There are no teas.

